.container {
    display: flex;
    flex-direction: column;
    align-items: center;       /* 자식 요소 가운데 정렬 */
    gap: 1.5rem;
}

.login-container {
    width: 100%;
    max-width: 500px;          /* 너비 제한 */
    display: flex;
    flex-direction: column;
    align-items: center;       /* 자식 요소 가운데 정렬 */
    gap: 1.5rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login-container label {
    align-self: flex-start;
    margin-left: 0.5rem;
  }
  
  .login-container input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #F6ECE4;
  }
  