/* src/styles/components.css */

.btn {
  width: 200px;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  border: 1px solid #000;
  background-color: #f6ece4;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #e0d5cb;
}

.input-group {
  margin-bottom: 1.5rem;
  max-width: 600px; !important
}

.input-label {
  display: block;
  margin-bottom: 0.25rem;
}

.input-box {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f6ece4;
}

.logo-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.arrow-btn-container {
  margin-top: 20px; /* 폼 입력 영역과 버튼 사이의 공간 */
  text-align: right; /* 버튼을 우측으로 정렬 */
}

form {
  position: relative;
  padding-bottom: 60px; /* 버튼 공간 확보 */
  display: flex;
  flex-direction: column;
}

.arrow-btn {
  align-self: flex-end; /* 오른쪽 정렬 */
  margin-top: 20px; /* 폼과의 간격 */
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  /* position absolute 제거 */
}

.page-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
